@charset 'Utf-8';

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}
*{
    padding: 0px;
    margin: 0px;
}
html, body{
    min-height: 100vh;
    font-family: var(--fonte1);
}

header{
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: white;
}
header > h1{
    font-family: var(--fonte2);
    font-size: 10vw;
    text-align: center;
    padding-top: 50px;
    font-variant: small-caps;
}
header > p{
    text-align: center;
    padding-bottom: 50px;

}
p > a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
p > a:hover, p > a:hover{
    text-decoration: underline;
}

section{
    font-family: var(--fonte3);
    font-size: 3.5vw;
    padding: 10vh 0vh 10vh 30px;
    line-height: 2em;
}
section > p{
    padding-bottom: 2em;
    text-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.466);
}
section.imagem{
    background-color: rgb(51, 51, 51);
    box-shadow: inset 6px 6px 13px 0px rgb(51, 51, 51);
    background-attachment: fixed;
    background-size: cover;
}
section.imagem > p{
    background-color: rgba(0, 0, 0, 0.377);
    color: white;
    display: inline-block; /*juntar a background as palavras*/
    padding: 5px;
    
}
section#img1{
    background-image: url('pacote-d012/imagens/background001.jpg');
    background-position: right center;
}
section#img2{
    background-image: url('pacote-d012/imagens/background002.jpg');
    background-position: right center;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
